    body {

    font-family: Norma, Arial, sans-serif;
    font-size: 16px;

    -webkit-font-smoothing: antialiased !important;
}
.cp-process-box {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0 0 27px;
}
.cp-process-box .cp-icon-box {
    font-size: 50px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    display: inline-block;
    text-align: center;
    margin-bottom: 0px;
    position: relative;
    z-index: 11;
}
.cp-slider-content a, .quote-btn:hover, .social-links a:hover, .cp-nav-logo-bar .navbar-default .navbar-nav>li>a:hover, .read-more, .cp-Our-experties .bx-wrapper .bx-prev:after, .cp-Our-experties .bx-wrapper .bx-next:after, .cp-events-slider .bx-wrapper .bx-prev:after, .cp-ft-box .cp-text .fa, .cp-ft-box .cp-text span:hover, .cp-ft-box .cp-text a:hover, .cp-events-slider .bx-wrapper .bx-next:after, .post-meta li, .portfolioFilter a:hover, .portfolioFilter a.current, .cp-clients-inner span, .cp-social-links li:hover a, .cp-team-item .cp-text span, .widget-listed ul li:hover a, .widget-listed ul li:hover:before, .input-field .prefix.active, #homev2-slider .owl-controls .owl-nav .owl-prev:before, #homev2-slider .owl-controls .owl-nav .owl-next:before, .cp-btn-style1, .cp-counter-item .counter, .post-meta li a, .cp-text p a, .read-more2:hover, #cp-blog-slider .owl-controls .owl-nav [class*="owl-"]:hover:before, .cp-about-listed li:before, .cp-process-box .cp-icon-box, .cp-creative-listed .cp-text h3:hover, #cp-team-slider .owl-nav .owl-next:after, .login-btn a, .login-btn, #cp-team-slider .owl-nav .owl-prev:after, .cp-price-box .cp-title em, .cp-price-box:hover .cp-btn-style1, .cp-price-box:hover .cp-title a, .pagination-box .pagination>li:first-child>a:hover, .pagination-box .pagination>li:last-child>a:hover, .widget-archive>ul>li:hover, .widget-archive>ul>li:hover a, .widget_tag_cloud .tagcloud a:hover, .cp-blockquote:before, .cp-form-box .inner-holder .btn-submit:hover, .cp-text .read-btn:hover, #cp-blog-slider_v2 .owl-controls .owl-nav [class*="owl-"], .cp-error-title, .cp-contact-info ul li:hover, .cp-contact-info ul li:hover a, .cp-shop-box .cp-text h3 a:hover, .cp-pro-meta .discount-price, .cp-pro-meta .icon .fa, .cp-rating .fa, .cp-Our-experties .owl-prev:after, .cp-upcoming-events .owl-prev:after, .cp-Our-experties .owl-next:after, .cp-upcoming-events .owl-next:after, .navbar .cart-box .cart-row .text-box strong.amount, .navbar .cart-box strong.title a, .cp-blog-item .cp-text h3:hover a, .cp-events-box .cp-text h3:hover a, .cp-team-item .cp-text h3:hover, .slide .cp-event-content h3:hover a {
    color: #f15b4e;
}
.judul1{
   
    color : #222222;
    float: left;
    font-size: 25px;
    font-weight: 600;
    border-bottom:  #e30000 solid 1px;
    margin-bottom: 35px;
}  
#xabout{
   
    display: inline;
    float: left;
    padding: 35px 0;
    width: 100%;
}
#about, #feature, #service {
    
    padding: 35px 0 !important;
    
}
.panel-heading {
    position: relative;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 15px;
    min-height: 50px;
}
.boxpanel {
    background: transparent;

    border: solid 1px;
    margin-bottom: 10px;
}
.breadcrumb{
    font-size: 16px;
}
.overlay{
    background-color: transparent;
    padding: 70px 0;
    
}
.fileinput-new.thumbnail{
    width: 100% !important;
}
.fileinput-preview.thumbnail{
    width: 100% !important;
    max-width: 100% !important;
}

.fileinput {
    display: inline-table !important;
}
.user-edit-image-buttons {
    display: block;
}
.btn-azure {
    background-color: #0095C8;
    border-color: #0095C8;
    color: #ffffff;
}
.btn {
    transition: all 0.3s ease 0s !important;
    background-image: none !important;
    box-shadow: none !important;
    outline: none !important;
    position: relative;
}
.btn-red {
    background-color: #C82E29;
    border-color: #C82E29;
    color: #ffffff;
}
.dddrow{
    height: 100%;
    display: inline-table;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede !important;
    border-color: #ebccd1;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

hr {
    border-top: 1px solid #5bc0de;
    
}

#lang{
    font-size: 12px;
    height: 35px;
    line-height: 35px;
    position: absolute;
    right: 8%;
    text-align: center;
    top: 20px;
}

#search-icon {
    font-size: 12px !important;
    width: 65px !important;
}


.slide-article h1 {
    font-size: 30px;
}
.slide-article p {
    font-size: 17px;
}

.title-area .title {
    font-size: 25px !important;
    
}


.blog-more-btn {
    color: #838282;
    margin-top: 0px;
}

.icon-check2:before {
	content: "\e116";
}
.box-faq .desc {
    padding-left: 40px;
}
.box-faq {
   
}
.box-faq i {
   
    color: #00ADB5;
}
#footer {
    border-top: 5px solid #c52d2f;
    
}
.counter-overlay {
    
    
}

.hx{
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #4e4e4e;
}

.slide-content {
     background-color: transparent; 
}
.blog-news-details {
    padding: 0px;
    padding-top: 5px;
}
.blog-news-img{
    height: 120px;
    width: 100%;
}

.service-content {
    margin-top: 0px;
}

.blog-news-single {
    background-color: transparent;
    border: solid 1px #00ADB5;
}

.btn-outline-info {
    color: #5bc0de;
    background-image: none;
    background-color: transparent;
    border-color: #5bc0de;
}

.panel-default>.panel-heading {

        color: #f5eded;
    background-color: #1d1c1c;
    border-color: #ddd;

}

.panel-heading {
    padding: 10px 15px !important;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.feature-left {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}
.feature-left .icon {
    float: left;
    margin-right: 5%;
    width: 54px;
    height: 54px;
    background: #fff;
    display: table;
    text-align: center;
    -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.feature-left .icon i {
    display: table-cell;
    vertical-align: middle;
    font-size: 30px;
    color: #52d3aa;
}

.feature-left .feature-copy {
    float: left;
    width: 90%;
}

#single-page-header {
   height: 150px;
}
